@charset "utf-8";.bg-color-sunsetOrange{background-color:#ef5350;}
.bg-color-white{background-color:#ffffff;}
.fs-30{font-size:30px !important;}
.fs-20{font-size:20px !important;}
.fs-3p3em{font-size:3.3em !important;}
.mb-0{margin-bottom:0px !important;}
.mt-0{margin-top:0px !important;}
.mt-20{margin-top:20px !important;}
.mt-30{margin-top:30px !important;}
.mt-40{margin-top:40px !important;}
.mt-50{margin-top:50px !important;}
.mb-10{margin-bottom:10px !important;}
.mb-20{margin-bottom:20px !important;}
.mb-50{margin-bottom:50px !important;}
.ml-2p{margin-left:2% !important;}
.ml-1p{margin-left:1% !important;}
.pl-50{padding-left:50px !important;}
.pr-50{padding-right:50px;}
.pb-0{padding-bottom:0px !important;}
.pt-0{padding-bottom:0px !important;}
.pb-12{padding:12px;}
.pt-10{padding-top:10px;}
.bt-1{border-top:1px solid #e4e4e4;}
.fh5co-blog-style-1{padding:5em 0!important;background:#fff;}
.btn-partner{padding:10px 16px !important;font-size:25px !important;text-transform:none !important;font-weight:lighter !important;background-color:#00baff !important;border-color:#00baff !important;}
.btn-partner:hover{background-color:#fff !important;border-color:#00baff !important;color:#00baff !important;}
.btn-blue{padding:10px 16px !important;font-size:20px !important;text-transform:none !important;font-weight:lighter !important;background-color:#00baff !important;border-color:#00baff !important;color:#fff;border:2px solid;}
.btn-blue:hover, .btn-blue:focus{background-color:#fff !important;border-color:#00baff !important;color:#00baff !important;}
.btn-signin{width:150px !important;}
.fh5co-nav-style-1 .fh5co-link-wrap ul li a.btn-login, .fh5co-nav-style-2 .fh5co-link-wrap ul li a.btn-login{margin-top:2px;border:2px solid #fff;background:transparent;padding:2px 15px !important;display:-moz-inline-stack;display:inline-block;zoom:1;-webkit-border-radius:30px;-moz-border-radius:30px;-ms-border-radius:30px;border-radius:30px;color:#fff;}
.fh5co-nav-style-1 .fh5co-link-wrap ul li a.btn-login:hover, .fh5co-nav-style-2 .fh5co-link-wrap ul li a.btn-login:hover{background:#00baff;color:#fff;}
.fh5co-footer-style-3 div, .fh5co-footer-style-3 span, .fh5co-footer-style-3 li, .fh5co-footer-style-3 a, .fh5co-footer-style-3 p{font-family:'Lato', sans-serif !important;font-weight:lighter !important;}
.fh5co-footer-style-3{background-color:#00192c !important;}
*{box-sizing:border-box;padding:0;margin:0;}
.bg-color{background-color:#46a1de;transition-duration:.5s;}
.text-color{color:#46a1de;transition-duration:.5s;}
.wrapper{min-width:600px;max-width:900px;margin:0 auto;}
.tabs{display:table;table-layout:fixed;width:100%;-webkit-transform:translateY(5px);transform:translateY(5px);margin-bottom:18px;}
.tabs > li{width:95%;transition-duration:.25s;display:table-cell;list-style:none;text-align:center;padding:20px 20px 25px 20px;position:relative;overflow:hidden;cursor:pointer;color:white;border-radius:5px;}
.tabs > li:before{z-index:-1;position:absolute;content:"";width:95%;height:100%;top:0;left:0;background-color:rgba(255, 255, 255, 0.3);-webkit-transform:translateY(100%);transform:translateY(100%);transition-duration:.25s;border-radius:5px;}
.tabs > li:hover:before{-webkit-transform:translateY(70%);transform:translateY(70%);}
.tabs > li.active{color:#50555a;}
.tabs > li.active:before{transition-duration:.5s;background-color:white;-webkit-transform:translateY(0);transform:translateY(0);}
.tab__content{background-color:white;position:relative;width:97.5%;border-radius:5px;}
.tab__content > li{width:100%;position:absolute;top:0;left:0;display:none;list-style:none;}
.tab__content > li .content__wrapper{text-align:center;border-radius:5px;width:100%;padding:45px 20px 40px 20px;background-color:white;}
.tabs > li.bgcw:before{transition-duration:.5s;background-color:white;-webkit-transform:translateY(0);transform:translateY(0);}
.tabs > li.active:before{transition-duration:.5s;background-color:#00baff;-webkit-transform:translateY(0);transform:translateY(0);}
.tabs > li.active h3{color:#fff;}
.tabs > li.active img{filter:brightness(2.25);}
.content__wrapper h2{width:100%;text-align:center;padding-bottom:20px;font-weight:300;}
.content__wrapper img{width:100%;height:auto;border-radius:5px;}
.colors{text-align:center;padding-top:20px;}
.colors > li{list-style:none;width:50px;height:50px;border-radius:50%;border-bottom:5px solid rgba(0, 0, 0, 0.1);display:inline-block;margin:0 10px;cursor:pointer;transition-duration:.2s;box-shadow:0 2px 1px rgba(0, 0, 0, 0.2);}
.colors > li:hover{-webkit-transform:scale(1.2);transform:scale(1.2);border-bottom:10px solid rgba(0, 0, 0, 0.15);box-shadow:0 10px 10px rgba(0, 0, 0, 0.2);}
.colors > li.active-color{-webkit-transform:scale(1.2) translateY(-10px);transform:scale(1.2) translateY(-10px);box-shadow:0 10px 10px rgba(0, 0, 0, 0.2);border-bottom:20px solid rgba(0, 0, 0, 0.15);}
.colors > li:nth-child(1){background-color:#2ecc71;}
.colors > li:nth-child(2){background-color:#D64A4B;}
.colors > li:nth-child(3){background-color:#8e44ad;}
.colors > li:nth-child(4){background-color:#46a1de;}
.colors > li:nth-child(5){background-color:#bdc3c7;}
.fh5co-cover .fh5co-cover-text .full-height{}
.fh5co-cover .fh5co-cover-text .full-height.pt-150{padding-top:150px;}
.topic-description{line-height:16px;font-size:13px;margin-bottom:7px;color:#b7b4b4;text-align:justify;}
.fh5co-cover{position:relative;min-height:657px;}
.plr-50{padding-left:50px !important;padding-right:50px !important;}
@media (min-width:320px) and (max-width:568px){h3{margin:25px 0 4px 0;}
.fh5co-post-text p{text-align:justify;}
.inner-pages .fh5co-cover-intro{padding-top:12%;}
.fh5co-cover{position:relative;}
.tif{font-size:1.5em !important;margin-bottom:16px !important;}
h2.tif{font-size:1em !important;padding-bottom:20px;}
.fh5co-cover .fh5co-cover-text .full-height{padding-top:100px;}
.plr-50{padding-left:15px !important;padding-right:15px !important;}
.hero-clicked{min-height:1500px;}
.fh5co-cover .fh5co-cover-text .full-height{min-height:560px!important;}
}
.fh5co-nav-toggle{position:fixed;top:33px !important;margin:0 0 0 auto;}
.icon-tab-list{width:37px;font-size:xx-large;color:rgba(144, 143, 143, 0.61);}
.fh5co-special{width:115px;margin-top:0px !important;padding-top:0px !important;border-top:none !important;}
.mobile-menu-expanded #fh5co-page.fh5co-offcanvass-left{-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-ms-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out;-moz-transform:translateX(150px);-webkit-transform:translateX(150px);-ms-transform:translateX(150px);-o-transform:translateX(150px);transform:translateX(150px);background:#fff;}
.modal-content input[type="text"], .modal-content input[type="email"], .modal-content input[type="number"]{height:35px !important;-webkit-box-shadow:none;box-shadow:none;}
.modal-content .form-horizontal .control-label, label{font-weight:normal;}
.modal-content textarea.form-control{max-height:124px;}
.modal-dialog{max-width:94%;}
.inner-pages{padding-top:11%;display:inline-table;width:100%;background:#ef5350;}
.inner-pages .col-md-push-0{height:80px!important;}
.inner-pages .fh5co-cover-intro *{color:#fff;}
.fh5co-project-style-2,.fh5co-testimonial-style-2{background:#fff;}